VITE_FIREBASE_API_KEY=AIzaSyA8XWZ5Gd8lH9hLJq_8dOEn5Jt1yVe_1sU
VITE_FIREBASE_AUTH_DOMAIN=stocksuit.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=stocksuit
VITE_FIREBASE_STORAGE_BUCKET=stocksuit.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=627855569208
VITE_FIREBASE_APP_ID=1:627855569208:web:150b56b12fc101fa4a91cd
VITE_FIREBASE_MEASUREMENT_ID=G-Y0HB0QTNSJ
